OWNER_NAME="𝚳𝚵𝚮𝚳𝚵𝐃𝚰 𝐂𝚮𝚫𝐘𝚯 𝚻𝚵𝐂𝚮 𝚳𝐃"
PREFIX="."
PUBLIC_MODE='no'
AUTO_READ_STATUS="yes"
AUTO_DOWNLOAD_STATUS="no"
BOT_NAME= "𝚳𝚵𝚮𝚳𝚵𝐃𝚰 MD"
IMAGE_MENU= "https://telegra.ph/file/bbc6e91d69f59871b6feb.jpg"
NUMERO_OWNER= "254721367216"
OWNER_NAME= "᚛𝗠𝗘𝗛𝗠𝗘𝗗𝗜 𝗧𝗘𝗖𝗛᚜"
DATABASE_URL= ""
WARN_COUNT= "10"
OPENAI_API_KEY= ""
STARTING_BOT_MESSAGE='yes'
ANTI_DELETE_MESSAGE='yes'
